# Data Cleaning

Remove the commas, remove `K` and multiply by 1000, and remove `%`.

In [12]:
import numpy as np
import pandas as pd

In [24]:
def cleaner(df):
    df = df.apply(lambda x: x.str.replace('%|,', '', regex=True))
    df['Vol.'].replace('-', np.nan, inplace=True)
    df['volmagnitude'] = df['Vol.'].str.slice(start=-1)
    df['Vol.'] = df['Vol.'].str.replace('K|M|B', '', regex=True)
    df['volmagnitude'].replace({'K':1000, 'M':1000**2, 'B': 1000**3}, inplace=True)
    df['Vol.'] = (df['Vol.'].astype('float')*df['volmagnitude'])
    df = df.drop('volmagnitude', axis=1)
    return df

In [17]:
btc = pd.read_csv(
        'data/btcall.csv', 
        index_col='Date', 
        parse_dates=True,
        ).sort_values('Date')

In [25]:
cleaner(btc)

              Price     Open     High      Low      Vol. Change %
Date
2010-07-18      0.1      0.0      0.1      0.1      80.0     0.00
2010-07-19      0.1      0.1      0.1      0.1     570.0     0.00
2010-07-20      0.1      0.1      0.1      0.1     260.0     0.00
2010-07-21      0.1      0.1      0.1      0.1     580.0     0.00
2010-07-22      0.1      0.1      0.1      0.1    2160.0     0.00
...             ...      ...      ...      ...       ...      ...
2022-06-23  21100.7  19967.3  21189.8  19907.5  110700.0     5.68
2022-06-24  21226.9  21100.9  21488.7  20743.9  104560.0     0.60
2022-06-25  21489.9  21226.9  21553.4  20917.5   66630.0     1.24
2022-06-26  21043.5  21489.9  21837.4  20989.7   67210.0    -2.08
2022-06-27  20743.0  21037.7  21497.5  20599.8   83210.0    -1.43

[4363 rows x 6 columns]

In [4]:
btc['Vol.'].replace('-', np.nan, inplace=True)

In [5]:
btc['volmagnitude'] = btc['Vol.'].str.slice(start=-1)
btc['Vol.'] = btc['Vol.'].str.replace('K|M|B', '', regex=True, )

In [6]:
btc['volmagnitude'].replace({'K':1000, 'M':1000**2, 'B': 1000**3}, inplace=True)

In [8]:
btc['Vol.'] = (btc['Vol.'].astype('float')*btc['volmagnitude'])

,Price,Open,High,Low,Vol.,Change %,volmagnitude
Date,,,,,,,
2010-07-18,0.1,0.0,0.1,0.1,80.0,0.00,1000.0
2010-07-19,0.1,0.1,0.1,0.1,570.0,0.00,1000.0
2010-07-20,0.1,0.1,0.1,0.1,260.0,0.00,1000.0
2010-07-21,0.1,0.1,0.1,0.1,580.0,0.00,1000.0
2010-07-22,0.1,0.1,0.1,0.1,2160.0,0.00,1000.0
...,...,...,...,...,...,...,...
2022-06-23,21100.7,19967.3,21189.8,19907.5,110700.0,5.68,1000.0
2022-06-24,21226.9,21100.9,21488.7,20743.9,104560.0,0.60,1000.0
2022-06-25,21489.9,21226.9,21553.4,20917.5,66630.0,1.24,1000.0
2022-06-26,21043.5,21489.9,21837.4,20989.7,67210.0,-2.08,1000.0
2022-06-27,20743.0,21037.7,21497.5,20599.8,83210.0,-1.43,1000.0

In [ ]:
pd.DataFrame.drop